

/***
=================================================
Most Popular Audi Engines
=================================================
***/

.webp .make-cars-sprite {
    background-image: url("../images/series/css_sprites.webp");
}

.no-webp .make-cars-sprite {
    background-image: url("../images/series/css_sprites.png");
}

.make-cars-sprite {
    width: 135px;
    height: 76px;
}

.bg-defender {
    background-position: -0 -0;
}

.bg-kwid {
    background-position: -135px -0;
}

.bg-m8 {
    background-position: -0 -76px;
}

.bg-c3 {
    background-position: -135px -76px;
}

.bg-c4 {
    background-position: -0 -152px;
}

.bg-c5 {
    background-position: -135px -152px;
}

.bg-c2 {
    background-position: -270px -0;
}

.bg-megane {
    background-position: -270px -76px;
}

.bg-m6 {
    background-position: -270px -152px;
}

.bg-hiace {
    background-position: -0 -228px;
}

.bg-m-series {
    background-position: -135px -228px;
}

.bg-rc-300h {
    background-position: -270px -228px;
}

.bg-nx-300h {
    background-position: -0 -304px;
}

.bg-is-200t {
    background-position: -135px -304px;
}

.bg-is-200d {
    background-position: -270px -304px;
}

.bg-ux-300 {
    background-position: -405px -0;
}

.bg-ux-250h {
    background-position: -405px -76px;
}

.bg-rx-350 {
    background-position: -405px -152px;
}

.bg-rc-300 {
    background-position: -405px -228px;
}

.bg-nx-450h+ {
    background-position: -405px -304px;
}

.bg-nx-450h-plus {
    background-position: -0 -380px;
}

.bg-nx-350h {
    background-position: -135px -380px;
}

.bg-nx-300 {
    background-position: -270px -380px;
}

.bg-is-250 {
    background-position: -405px -380px;
}

.bg-gs-300 {
    background-position: -0 -456px;
}

.bg-is-300 {
    background-position: -135px -456px;
}

.bg-gs-450h {
    background-position: -270px -456px;
}

.bg-es-300 {
    background-position: -405px -456px;
}

.bg-ct-200h {
    background-position: -540px -0;
}

.bg-m5 {
    background-position: -540px -76px;
}

.bg-m4 {
    background-position: -540px -152px;
}

.bg-m3 {
    background-position: -540px -228px;
}

.bg-ct {
    background-position: -540px -304px;
}

.bg-caddy {
    background-position: -540px -380px;
}

.bg-octavia {
    background-position: -540px -456px;
}

.bg-alhambra {
    background-position: -0 -532px;
}

.bg-718 {
    background-position: -135px -532px;
}

.bg-ttrs {
    background-position: -270px -532px;
}

.bg-ls {
    background-position: -405px -532px;
}

.bg-argo {
    background-position: -540px -532px;
}

.bg-dokker {
    background-position: -675px -0;
}

.bg-lafesta {
    background-position: -675px -76px;
}

.bg-progres {
    background-position: -675px -152px;
}

.bg-accord {
    background-position: -675px -228px;
}

.bg-159 {
    background-position: -675px -304px;
}

.bg-venza {
    background-position: -675px -380px;
}

.bg-forenza {
    background-position: -675px -456px;
}

.bg-van {
    background-position: -675px -532px;
}

.bg-demio {
    background-position: -0 -608px;
}

.bg-maven {
    background-position: -135px -608px;
}

.bg-daily {
    background-position: -270px -608px;
}

.bg-endeavor {
    background-position: -405px -608px;
}

.bg-tsuru {
    background-position: -540px -608px;
}

.bg-xsara {
    background-position: -675px -608px;
}

.bg-dex {
    background-position: -0 -684px;
}

.bg-suzuki-sierra {
    background-position: -135px -684px;
}

.bg-crew {
    background-position: -270px -684px;
}

.bg-quest-2- {
    background-position: -405px -684px;
}

.bg-tamaraw-fx {
    background-position: -540px -684px;
}

.bg-19 {
    background-position: -675px -684px;
}

.bg-punto {
    background-position: -810px -0;
}

.bg-hb20 {
    background-position: -810px -76px;
}

.bg-mark-x {
    background-position: -810px -152px;
}

.bg-kodiaq {
    background-position: -810px -228px;
}

.bg-altea {
    background-position: -810px -304px;
}

.bg-picanto {
    background-position: -810px -380px;
}

.bg-3000 {
    background-position: -810px -456px;
}

.bg-lucra {
    background-position: -810px -532px;
}

.bg-370z {
    background-position: -810px -608px;
}

.bg-cascada {
    background-position: -810px -684px;
}

.bg-xantia {
    background-position: -0 -760px;
}

.bg-l-400 {
    background-position: -135px -760px;
}

.bg-q2 {
    background-position: -270px -760px;
}

.bg-i20 {
    background-position: -405px -760px;
}

.bg-slc {
    background-position: -540px -760px;
}

.bg-astravan {
    background-position: -675px -760px;
}

.bg-br-v {
    background-position: -810px -760px;
}

.bg-eos {
    background-position: -0 -836px;
}

.bg-lantra {
    background-position: -135px -836px;
}

.bg-spacefox {
    background-position: -270px -836px;
}

.bg-145 {
    background-position: -405px -836px;
}

.bg-antara {
    background-position: -540px -836px;
}

.bg-nv300 {
    background-position: -675px -836px;
}

.bg-proace {
    background-position: -810px -836px;
}

.bg-i30 {
    background-position: -945px -0;
}

.bg-soluna {
    background-position: -945px -76px;
}

.bg-scala {
    background-position: -945px -152px;
}

.bg-solara {
    background-position: -945px -228px;
}

.bg-lobo {
    background-position: -945px -304px;
}

.bg-vezel {
    background-position: -945px -380px;
}

.bg-scenic {
    background-position: -945px -456px;
}

.bg-a5 {
    background-position: -945px -532px;
}

.bg-accent {
    background-position: -945px -608px;
}

.bg-n-box {
    background-position: -945px -684px;
}

.bg-exiga {
    background-position: -945px -760px;
}

.bg-tiguan {
    background-position: -945px -836px;
}

.bg-ds4 {
    background-position: -0 -912px;
}

.bg-wrx {
    background-position: -135px -912px;
}

.bg-avensis-verso {
    background-position: -270px -912px;
}

.bg-jumpy {
    background-position: -405px -912px;
}

.bg-land-cruiser-100 {
    background-position: -540px -912px;
}

.bg-307 {
    background-position: -675px -912px;
}

.bg-pickup {
    background-position: -810px -912px;
}

.bg-mobilio {
    background-position: -945px -912px;
}

.bg-rnessa {
    background-position: -0 -988px;
}

.bg-xc90 {
    background-position: -135px -988px;
}

.bg-cr-z {
    background-position: -270px -988px;
}

.bg-thats {
    background-position: -405px -988px;
}

.bg-civic {
    background-position: -540px -988px;
}

.bg-carens {
    background-position: -675px -988px;
}

.bg-fiesta {
    background-position: -810px -988px;
}

.bg-partner {
    background-position: -945px -988px;
}

.bg-nt100 {
    background-position: -1080px -0;
}

.bg-v-class {
    background-position: -1080px -76px;
}

.bg-modus {
    background-position: -1080px -152px;
}

.bg-tarago {
    background-position: -1080px -228px;
}

.bg-tuv {
    background-position: -1080px -304px;
}

.bg-rogue {
    background-position: -1080px -380px;
}

.bg-juke {
    background-position: -1080px -456px;
}

.bg-palette {
    background-position: -1080px -532px;
}

.bg-enterprise {
    background-position: -1080px -608px;
}

.bg-bora {
    background-position: -1080px -684px;
}

.bg-glk-class {
    background-position: -1080px -760px;
}

.bg-strada {
    background-position: -1080px -836px;
}

.bg-twizy {
    background-position: -1080px -912px;
}

.bg-405 {
    background-position: -1080px -988px;
}

.bg-gla-class {
    background-position: -0 -1064px;
}

.bg-ioniq {
    background-position: -135px -1064px;
}

.bg-tracer {
    background-position: -270px -1064px;
}

.bg-trajet {
    background-position: -405px -1064px;
}

.bg-touran {
    background-position: -540px -1064px;
}

.bg-n-wgn {
    background-position: -675px -1064px;
}

.bg-ducato {
    background-position: -810px -1064px;
}

.bg-pro-ceed {
    background-position: -945px -1064px;
}

.bg-cabstar {
    background-position: -1080px -1064px;
}

.bg-linea {
    background-position: -1215px -0;
}

.bg-torneo {
    background-position: -1215px -76px;
}

.bg-every {
    background-position: -1215px -152px;
}

.bg-a-class {
    background-position: -1215px -228px;
}

.bg-zelas {
    background-position: -1215px -304px;
}

.bg-prairie {
    background-position: -1215px -380px;
}

.bg-gt {
    background-position: -1215px -456px;
}

.bg-sorento {
    background-position: -1215px -532px;
}

.bg-insight {
    background-position: -1215px -608px;
}

.bg-spade {
    background-position: -1215px -684px;
}

.bg-kluger {
    background-position: -1215px -760px;
}

.bg-vios {
    background-position: -1215px -836px;
}

.bg-movano {
    background-position: -1215px -912px;
}

.bg-santana {
    background-position: -1215px -988px;
}

.bg-clio {
    background-position: -1215px -1064px;
}

.bg-c-max {
    background-position: -0 -1140px;
}

.bg-brio {
    background-position: -135px -1140px;
}

.bg-h350 {
    background-position: -270px -1140px;
}

.bg-spider {
    background-position: -405px -1140px;
}

.bg-jimny {
    background-position: -540px -1140px;
}

.bg-esquire {
    background-position: -675px -1140px;
}

.bg-xc60 {
    background-position: -810px -1140px;
}

.bg-xv {
    background-position: -945px -1140px;
}

.bg-avalon {
    background-position: -1080px -1140px;
}

.bg-premio {
    background-position: -1215px -1140px;
}

.bg-clc-class {
    background-position: -0 -1216px;
}

.bg-matrix {
    background-position: -135px -1216px;
}

.bg-xf {
    background-position: -270px -1216px;
}

.bg-platz {
    background-position: -405px -1216px;
}

.bg-routan {
    background-position: -540px -1216px;
}

.bg-figaro {
    background-position: -675px -1216px;
}

.bg-fun {
    background-position: -810px -1216px;
}

.bg-xj {
    background-position: -945px -1216px;
}

.bg-408 {
    background-position: -1080px -1216px;
}

.bg-hustler {
    background-position: -1215px -1216px;
}

.bg-serena {
    background-position: -1350px -0;
}

.bg-pick-up {
    background-position: -1350px -76px;
}

.bg-scirocco {
    background-position: -1350px -152px;
}

.bg-spiano {
    background-position: -1350px -228px;
}

.bg-toyoace {
    background-position: -1350px -304px;
}

.bg-sai {
    background-position: -1350px -380px;
}

.bg-pajeroshogun {
    background-position: -1350px -456px;
}

.bg-inspire {
    background-position: -1350px -532px;
}

.bg-coaster {
    background-position: -1350px -608px;
}

.bg-estima {
    background-position: -1350px -684px;
}

.bg-s660 {
    background-position: -1350px -760px;
}

.bg-350z {
    background-position: -1350px -836px;
}

.bg-toro {
    background-position: -1350px -912px;
}

.bg-fuga {
    background-position: -1350px -988px;
}

.bg-dynasty {
    background-position: -1350px -1064px;
}

.bg-captur {
    background-position: -1350px -1140px;
}

.bg-discovery {
    background-position: -1350px -1216px;
}

.bg-maverick {
    background-position: -0 -1292px;
}

.bg-colt {
    background-position: -135px -1292px;
}

.bg-kuga {
    background-position: -270px -1292px;
}

.bg-vaneo {
    background-position: -405px -1292px;
}

.bg-sequoia {
    background-position: -540px -1292px;
}

.bg-freeca {
    background-position: -675px -1292px;
}

.bg-polo {
    background-position: -810px -1292px;
}

.bg-splash {
    background-position: -945px -1292px;
}

.bg-106 {
    background-position: -1080px -1292px;
}

.bg-magentis {
    background-position: -1215px -1292px;
}

.bg-sienta {
    background-position: -1350px -1292px;
}

.bg-206+ {
    background-position: -0 -1368px;
}

.bg-sienna {
    background-position: -135px -1368px;
}

.bg-156 {
    background-position: -270px -1368px;
}

.bg-h-1 {
    background-position: -405px -1368px;
}

.bg-carisma {
    background-position: -540px -1368px;
}

.bg-xe {
    background-position: -675px -1368px;
}

.bg-skyline {
    background-position: -810px -1368px;
}

.bg-getz {
    background-position: -945px -1368px;
}

.bg-rasheen {
    background-position: -1080px -1368px;
}

.bg-landy {
    background-position: -1215px -1368px;
}

.bg-altra {
    background-position: -1350px -1368px;
}

.bg-galant {
    background-position: -1485px -0;
}

.bg-passat {
    background-position: -1485px -76px;
}

.bg-amarok {
    background-position: -1485px -152px;
}

.bg-palio {
    background-position: -1485px -228px;
}

.bg-sandero {
    background-position: -1485px -304px;
}

.bg-vx220 {
    background-position: -1485px -380px;
}

.bg-ix55 {
    background-position: -1485px -456px;
}

.bg-is {
    background-position: -1485px -532px;
}

.bg-primera {
    background-position: -1485px -608px;
}

.bg-r-class {
    background-position: -1485px -684px;
}

.bg-a1 {
    background-position: -1485px -760px;
}

.bg-ranch {
    background-position: -1485px -836px;
}

.bg-urbancruiser {
    background-position: -1485px -912px;
}

.bg-cervo {
    background-position: -1485px -988px;
}

.bg-mr2 {
    background-position: -1485px -1064px;
}

.bg-yeti {
    background-position: -1485px -1140px;
}

.bg-legacy {
    background-position: -1485px -1216px;
}

.bg-carri {
    background-position: -1485px -1292px;
}

.bg-countryman {
    background-position: -1485px -1368px;
}

.bg-cadenza {
    background-position: -0 -1444px;
}

.bg-kizashi {
    background-position: -135px -1444px;
}

.bg-hypermini {
    background-position: -270px -1444px;
}

.bg-stepwagon {
    background-position: -405px -1444px;
}

.bg-presage {
    background-position: -540px -1444px;
}

.bg-fiorino {
    background-position: -675px -1444px;
}

.bg-jumper {
    background-position: -810px -1444px;
}

.bg-micra {
    background-position: -945px -1444px;
}

.bg-citigo {
    background-position: -1080px -1444px;
}

.bg-a6 {
    background-position: -1215px -1444px;
}

.bg-e-series {
    background-position: -1350px -1444px;
}

.bg-tucson {
    background-position: -1485px -1444px;
}

.bg-wish {
    background-position: -0 -1520px;
}

.bg-ceres {
    background-position: -135px -1520px;
}

.bg-integra {
    background-position: -270px -1520px;
}

.bg-saxo {
    background-position: -405px -1520px;
}

.bg-jetta {
    background-position: -540px -1520px;
}

.bg-veloster {
    background-position: -675px -1520px;
}

.bg-scrum {
    background-position: -810px -1520px;
}

.bg-tipo {
    background-position: -945px -1520px;
}

.bg-aqua {
    background-position: -1080px -1520px;
}

.bg-stilo {
    background-position: -1215px -1520px;
}

.bg-granvia {
    background-position: -1350px -1520px;
}

.bg-vanette {
    background-position: -1485px -1520px;
}

.bg-tribeca {
    background-position: -1620px -0;
}

.bg-viva {
    background-position: -1620px -76px;
}

.bg-opa {
    background-position: -1620px -152px;
}

.bg-301 {
    background-position: -1620px -228px;
}

.bg-beetle {
    background-position: -1620px -304px;
}

.bg-stella {
    background-position: -1620px -380px;
}

.bg-121 {
    background-position: -1620px -456px;
}

.bg-brevis {
    background-position: -1620px -532px;
}

.bg-pathfinder {
    background-position: -1620px -608px;
}

.bg-space {
    background-position: -1620px -684px;
}

.bg-soul {
    background-position: -1620px -760px;
}

.bg-ds3 {
    background-position: -1620px -836px;
}

.bg-xc70 {
    background-position: -1620px -912px;
}

.bg-aygo {
    background-position: -1620px -988px;
}

.bg-moco {
    background-position: -1620px -1064px;
}

.bg-agila {
    background-position: -1620px -1140px;
}

.bg-vanguard {
    background-position: -1620px -1216px;
}

.bg-crown {
    background-position: -1620px -1292px;
}

.bg-saveiro {
    background-position: -1620px -1368px;
}

.bg-x-type {
    background-position: -1620px -1444px;
}

.bg-tiburon {
    background-position: -1620px -1520px;
}

.bg-combo {
    background-position: -0 -1596px;
}

.bg-g-class {
    background-position: -135px -1596px;
}

.bg-venga {
    background-position: -270px -1596px;
}

.bg-cougar {
    background-position: -405px -1596px;
}

.bg-noah {
    background-position: -540px -1596px;
}

.bg-elgrand {
    background-position: -675px -1596px;
}

.bg-sparky {
    background-position: -810px -1596px;
}

.bg-ka {
    background-position: -945px -1596px;
}

.bg-2-series {
    background-position: -1080px -1596px;
}

.bg-vogue {
    background-position: -1215px -1596px;
}

.bg-baja {
    background-position: -1350px -1596px;
}

.bg-nv {
    background-position: -1485px -1596px;
}

.bg-corolla {
    background-position: -1620px -1596px;
}

.bg-rl {
    background-position: -0 -1672px;
}

.bg-coupe {
    background-position: -135px -1672px;
}

.bg-ds5 {
    background-position: -270px -1672px;
}

.bg-oroch {
    background-position: -405px -1672px;
}

.bg-b-class {
    background-position: -540px -1672px;
}

.bg-5-series {
    background-position: -675px -1672px;
}

.bg-ecosport {
    background-position: -810px -1672px;
}

.bg-a4 {
    background-position: -945px -1672px;
}

.bg-corsavan {
    background-position: -1080px -1672px;
}

.bg-silvia {
    background-position: -1215px -1672px;
}

.bg-up {
    background-position: -1350px -1672px;
}

.bg-maverrick {
    background-position: -1485px -1672px;
}

.bg-laurel {
    background-position: -1620px -1672px;
}

.bg-8c {
    background-position: -1755px -0;
}

.bg-convertible {
    background-position: -1755px -76px;
}

.bg-r2 {
    background-position: -1755px -152px;
}

.bg-elantra {
    background-position: -1755px -228px;
}

.bg-f-type {
    background-position: -1755px -304px;
}

.bg-ascent {
    background-position: -1755px -380px;
}

.bg-ek {
    background-position: -1755px -456px;
}

.bg-safrane {
    background-position: -1755px -532px;
}

.bg-felicia {
    background-position: -1755px -608px;
}

.bg-207 {
    background-position: -1755px -684px;
}

.bg-camry {
    background-position: -1755px -760px;
}

.bg-mark-ii {
    background-position: -1755px -836px;
}

.bg-space-wagon {
    background-position: -1755px -912px;
}

.bg-zoe {
    background-position: -1755px -988px;
}

.bg-cordoba {
    background-position: -1755px -1064px;
}

.bg-f-550 {
    background-position: -1755px -1140px;
}

.bg-marea {
    background-position: -1755px -1216px;
}

.bg-s-type {
    background-position: -1755px -1292px;
}

.bg-town-ace {
    background-position: -1755px -1368px;
}

.bg-thalia {
    background-position: -1755px -1444px;
}

.bg-208 {
    background-position: -1755px -1520px;
}

.bg-is220d {
    background-position: -1755px -1596px;
}

.bg-166 {
    background-position: -1755px -1672px;
}

.bg-signum {
    background-position: -0 -1748px;
}

.bg-boxer {
    background-position: -135px -1748px;
}

.bg-will {
    background-position: -270px -1748px;
}

.bg-ka-plus {
    background-position: -405px -1748px;
}

.bg-v50 {
    background-position: -540px -1748px;
}

.bg-zinger {
    background-position: -675px -1748px;
}

.bg-leaf {
    background-position: -810px -1748px;
}

.bg-mille {
    background-position: -945px -1748px;
}

.bg-mondeo {
    background-position: -1080px -1748px;
}

.bg-tt {
    background-position: -1215px -1748px;
}

.bg-cami {
    background-position: -1350px -1748px;
}

.bg-scenic-11 {
    background-position: -1485px -1748px;
}

.bg-teana {
    background-position: -1620px -1748px;
}

.bg-k2700 {
    background-position: -1755px -1748px;
}

.bg-c15 {
    background-position: -1890px -0;
}

.bg-np200 {
    background-position: -1890px -76px;
}

.bg-verossa {
    background-position: -1890px -152px;
}

.bg-viano {
    background-position: -1890px -228px;
}

.bg-mb140 {
    background-position: -1890px -304px;
}

.bg-qualis {
    background-position: -1890px -380px;
}

.bg-caravan {
    background-position: -1890px -456px;
}

.bg-supra {
    background-position: -1890px -532px;
}

.bg-flair {
    background-position: -1890px -608px;
}

.bg-ordoba {
    background-position: -1890px -684px;
}

.bg-pajero {
    background-position: -1890px -760px;
}

.bg-opirus {
    background-position: -1890px -836px;
}

.bg-farmworker {
    background-position: -1890px -912px;
}

.bg-cultus {
    background-position: -1890px -988px;
}

.bg-golf {
    background-position: -1890px -1064px;
}

.bg-koleos {
    background-position: -1890px -1140px;
}

.bg-b-serie {
    background-position: -1890px -1216px;
}

.bg-stinger {
    background-position: -1890px -1292px;
}

.bg-phaeton {
    background-position: -1890px -1368px;
}

.bg-crosstour {
    background-position: -1890px -1444px;
}

.bg-eon {
    background-position: -1890px -1520px;
}

.bg-lx450d {
    background-position: -1890px -1596px;
}

.bg-voxy {
    background-position: -1890px -1672px;
}

.bg-town {
    background-position: -1890px -1748px;
}

.bg-pulse {
    background-position: -0 -1824px;
}

.bg-x6 {
    background-position: -135px -1824px;
}

.bg-k3600 {
    background-position: -270px -1824px;
}

.bg-3 {
    background-position: -405px -1824px;
}

.bg-is200d {
    background-position: -540px -1824px;
}

.bg-kubistar {
    background-position: -675px -1824px;
}

.bg-pilot {
    background-position: -810px -1824px;
}

.bg-carry {
    background-position: -945px -1824px;
}

.bg-derby {
    background-position: -1080px -1824px;
}

.bg-roomster {
    background-position: -1215px -1824px;
}

.bg-biante {
    background-position: -1350px -1824px;
}

.bg-ignis {
    background-position: -1485px -1824px;
}

.bg-regiusace {
    background-position: -1620px -1824px;
}

.bg-clubman {
    background-position: -1755px -1824px;
}

.bg-grandland-x {
    background-position: -1890px -1824px;
}

.bg-cefiro {
    background-position: -0 -1900px;
}

.bg-f-pace {
    background-position: -135px -1900px;
}

.bg-latio {
    background-position: -270px -1900px;
}

.bg-verona {
    background-position: -405px -1900px;
}

.bg-tacoma {
    background-position: -540px -1900px;
}

.bg-nemo {
    background-position: -675px -1900px;
}

.bg-4-series {
    background-position: -810px -1900px;
}

.bg-element {
    background-position: -945px -1900px;
}

.bg-multipla {
    background-position: -1080px -1900px;
}

.bg-caribe {
    background-position: -1215px -1900px;
}

.bg-citygolf {
    background-position: -1350px -1900px;
}

.bg-multivan {
    background-position: -1485px -1900px;
}

.bg-x5 {
    background-position: -1620px -1900px;
}

.bg-avensis {
    background-position: -1755px -1900px;
}

.bg-tazz {
    background-position: -1890px -1900px;
}

.bg-cx-3 {
    background-position: -2025px -0;
}

.bg-shuma {
    background-position: -2025px -76px;
}

.bg-vanden {
    background-position: -2025px -152px;
}

.bg-ridgeline {
    background-position: -2025px -228px;
}

.bg-i {
    background-position: -2025px -304px;
}

.bg-brera {
    background-position: -2025px -380px;
}

.bg-pride {
    background-position: -2025px -456px;
}

.bg-5008 {
    background-position: -2025px -532px;
}

.bg-equator-pickup {
    background-position: -2025px -608px;
}

.bg-stream {
    background-position: -2025px -684px;
}

.bg-vento {
    background-position: -2025px -760px;
}

.bg-quantum {
    background-position: -2025px -836px;
}

.bg-rx349 {
    background-position: -2025px -912px;
}

.bg-rx-7 {
    background-position: -2025px -988px;
}

.bg-lucino {
    background-position: -2025px -1064px;
}

.bg-fusion {
    background-position: -2025px -1140px;
}

.bg-carnival {
    background-position: -2025px -1216px;
}

.bg-2 {
    background-position: -2025px -1292px;
}

.bg-canter {
    background-position: -2025px -1368px;
}

.bg-cerato {
    background-position: -2025px -1444px;
}

.bg-hatch {
    background-position: -2025px -1520px;
}

.bg-6-series {
    background-position: -2025px -1596px;
}

.bg-b-max {
    background-position: -2025px -1672px;
}

.bg-nv100 {
    background-position: -2025px -1748px;
}

.bg-kicks {
    background-position: -2025px -1824px;
}

.bg-duet {
    background-position: -2025px -1900px;
}

.bg-xf-sportbrake {
    background-position: -0 -1976px;
}

.bg-kijang {
    background-position: -135px -1976px;
}

.bg-terracan {
    background-position: -270px -1976px;
}

.bg-land-cruiser-pickup {
    background-position: -405px -1976px;
}

.bg-verisa {
    background-position: -540px -1976px;
}

.bg-x4 {
    background-position: -675px -1976px;
}

.bg-s-coupe {
    background-position: -810px -1976px;
}

.bg-tamaraw {
    background-position: -945px -1976px;
}

.bg-cx-9 {
    background-position: -1080px -1976px;
}

.bg-ractis {
    background-position: -1215px -1976px;
}

.bg-i40-tourer {
    background-position: -1350px -1976px;
}

.bg-3008 {
    background-position: -1485px -1976px;
}

.bg-meriva {
    background-position: -1620px -1976px;
}

.bg-p100 {
    background-position: -1755px -1976px;
}

.bg-mobilio-spike {
    background-position: -1890px -1976px;
}

.bg-quest {
    background-position: -2025px -1976px;
}

.bg-prelude {
    background-position: -0 -2052px;
}

.bg-smx {
    background-position: -135px -2052px;
}

.bg-np300 {
    background-position: -270px -2052px;
}

.bg-avella {
    background-position: -405px -2052px;
}

.bg-6 {
    background-position: -540px -2052px;
}

.bg-auris {
    background-position: -675px -2052px;
}

.bg-vitara {
    background-position: -810px -2052px;
}

.bg-familia {
    background-position: -945px -2052px;
}

.bg-sierra {
    background-position: -1080px -2052px;
}

.bg-crossland-x {
    background-position: -1215px -2052px;
}

.bg-ix35 {
    background-position: -1350px -2052px;
}

.bg-espace {
    background-position: -1485px -2052px;
}

.bg-raider {
    background-position: -1620px -2052px;
}

.bg-swift+ {
    background-position: -1755px -2052px;
}

.bg-e-class {
    background-position: -1890px -2052px;
}

.bg-voyage {
    background-position: -2025px -2052px;
}

.bg-agya {
    background-position: -2160px -0;
}

.bg-pulsar {
    background-position: -2160px -76px;
}

.bg-roadster {
    background-position: -2160px -152px;
}

.bg-armada {
    background-position: -2160px -228px;
}

.bg-x1 {
    background-position: -2160px -304px;
}

.bg-dias-wagon {
    background-position: -2160px -380px;
}

.bg-activa {
    background-position: -2160px -456px;
}

.bg-lodgy {
    background-position: -2160px -532px;
}

.bg-c-class {
    background-position: -2160px -608px;
}

.bg-e-pace {
    background-position: -2160px -684px;
}

.bg-ranger {
    background-position: -2160px -760px;
}

.bg-crossroad {
    background-position: -2160px -836px;
}

.bg-amica {
    background-position: -2160px -912px;
}

.bg-dyna {
    background-position: -2160px -988px;
}

.bg-falcon {
    background-position: -2160px -1064px;
}

.bg-land-cruiser-200 {
    background-position: -2160px -1140px;
}

.bg-premacy {
    background-position: -2160px -1216px;
}

.bg-mdx {
    background-position: -2160px -1292px;
}

.bg-cx-5 {
    background-position: -2160px -1368px;
}

.bg-niro {
    background-position: -2160px -1444px;
}

.bg-i10 {
    background-position: -2160px -1520px;
}

.bg-gt {
    background-position: -2160px -1596px;
}

.bg-clipper {
    background-position: -2160px -1672px;
}

.bg-sephia {
    background-position: -2160px -1748px;
}

.bg-elysion {
    background-position: -2160px -1824px;
}

.bg-4-runner {
    background-position: -2160px -1900px;
}

.bg-fiesta-fusion {
    background-position: -2160px -1976px;
}

.bg-atlas {
    background-position: -2160px -2052px;
}

.bg-liteace {
    background-position: -0 -2128px;
}

.bg-maxima {
    background-position: -135px -2128px;
}

.bg-caldina {
    background-position: -270px -2128px;
}

.bg-kangoo {
    background-position: -405px -2128px;
}

.bg-stelvio {
    background-position: -540px -2128px;
}

.bg-tribute {
    background-position: -675px -2128px;
}

.bg-fox {
    background-position: -810px -2128px;
}

.bg-toledo {
    background-position: -945px -2128px;
}

.bg-i40 {
    background-position: -1080px -2128px;
}

.bg-brava {
    background-position: -1215px -2128px;
}

.bg-i800 {
    background-position: -1350px -2128px;
}

.bg-visto {
    background-position: -1485px -2128px;
}

.bg-x3- {
    background-position: -1620px -2128px;
}

.bg-latitude {
    background-position: -1755px -2128px;
}

.bg-patrol {
    background-position: -1890px -2128px;
}

.bg-vintage {
    background-position: -2025px -2128px;
}

.bg-chaser {
    background-position: -2160px -2128px;
}

.bg-seicento {
    background-position: -0 -2204px;
}

.bg-z-series {
    background-position: -135px -2204px;
}

.bg-president {
    background-position: -270px -2204px;
}

.bg-k2900 {
    background-position: -405px -2204px;
}

.bg-versa {
    background-position: -540px -2204px;
}

.bg-bravo-ii {
    background-position: -675px -2204px;
}

.bg-gloria {
    background-position: -810px -2204px;
}

.bg-interstar {
    background-position: -945px -2204px;
}

.bg-grace {
    background-position: -1080px -2204px;
}

.bg-cx-7 {
    background-position: -1215px -2204px;
}

.bg-calya {
    background-position: -1350px -2204px;
}

.bg-altima {
    background-position: -1485px -2204px;
}

.bg-dayz {
    background-position: -1620px -2204px;
}

.bg-ion {
    background-position: -1755px -2204px;
}

.bg-superb {
    background-position: -1890px -2204px;
}

.bg-7-series {
    background-position: -2025px -2204px;
}

.bg-one {
    background-position: -2160px -2204px;
}

.bg-insignia {
    background-position: -2295px -0;
}

.bg-807 {
    background-position: -2295px -76px;
}

.bg-duna {
    background-position: -2295px -152px;
}

.bg-outback {
    background-position: -2295px -228px;
}

.bg-range-rover-sport {
    background-position: -2295px -304px;
}

.bg-xl7 {
    background-position: -2295px -380px;
}

.bg-reno {
    background-position: -2295px -456px;
}

.bg-nsx {
    background-position: -2295px -532px;
}

.bg-tigra {
    background-position: -2295px -608px;
}

.bg-sharan {
    background-position: -2295px -684px;
}

.bg-fabia2 {
    background-position: -2295px -760px;
}

.bg-xedos {
    background-position: -2295px -836px;
}

.bg-gaia {
    background-position: -2295px -912px;
}

.bg-5 {
    background-position: -2295px -988px;
}

.bg-traveller {
    background-position: -2295px -1064px;
}

.bg-presea {
    background-position: -2295px -1140px;
}

.bg-cc {
    background-position: -2295px -1216px;
}

.bg-cr-v {
    background-position: -2295px -1292px;
}

.bg-magna {
    background-position: -2295px -1368px;
}

.bg-ameo {
    background-position: -2295px -1444px;
}

.bg-aurion {
    background-position: -2295px -1520px;
}

.bg-fluence {
    background-position: -2295px -1596px;
}

.bg-yaris-verso {
    background-position: -2295px -1672px;
}

.bg-corolla-verso {
    background-position: -2295px -1748px;
}

.bg-spacetourer {
    background-position: -2295px -1824px;
}

.bg-inca {
    background-position: -2295px -1900px;
}

.bg-escort {
    background-position: -2295px -1976px;
}

.bg-verso {
    background-position: -2295px -2052px;
}

.bg-allroad {
    background-position: -2295px -2128px;
}

.bg-c6-1 {
    background-position: -2295px -2204px;
}

.bg-focus {
    background-position: -0 -2280px;
}

.bg-1-series {
    background-position: -135px -2280px;
}

.bg-echo {
    background-position: -270px -2280px;
}

.bg-rcz {
    background-position: -405px -2280px;
}

.bg-amg-gt {
    background-position: -540px -2280px;
}

.bg-freed {
    background-position: -675px -2280px;
}

.bg-gl-class {
    background-position: -810px -2280px;
}

.bg-toyo-ace {
    background-position: -945px -2280px;
}

.bg-veryca {
    background-position: -1080px -2280px;
}

.bg-atos {
    background-position: -1215px -2280px;
}

.bg-fabia {
    background-position: -1350px -2280px;
}

.bg-nadia {
    background-position: -1485px -2280px;
}

.bg-starlet {
    background-position: -1620px -2280px;
}

.bg-q3 {
    background-position: -1755px -2280px;
}

.bg-logan {
    background-position: -1890px -2280px;
}

.bg-vito {
    background-position: -2025px -2280px;
}

.bg-406 {
    background-position: -2160px -2280px;
}

.bg-vel-satis {
    background-position: -2295px -2280px;
}

.bg-bt-50 {
    background-position: -2430px -0;
}

.bg-4c {
    background-position: -2430px -76px;
}

.bg-econoline {
    background-position: -2430px -152px;
}

.bg-freemont {
    background-position: -2430px -228px;
}

.bg-z4 {
    background-position: -2430px -304px;
}

.bg-nv350 {
    background-position: -2430px -380px;
}

.bg-savrin {
    background-position: -2430px -456px;
}

.bg-innova {
    background-position: -2430px -532px;
}

.bg-stallion {
    background-position: -2430px -608px;
}

.bg-range-rover-vogue {
    background-position: -2430px -684px;
}

.bg-2008 {
    background-position: -2430px -760px;
}

.bg-borrego {
    background-position: -2430px -836px;
}

.bg-puma {
    background-position: -2430px -912px;
}

.bg-santamo {
    background-position: -2430px -988px;
}

.bg-l100 {
    background-position: -2430px -1064px;
}

.bg-bluebird {
    background-position: -2430px -1140px;
}

.bg-orion {
    background-position: -2430px -1216px;
}

.bg-grand-c-max {
    background-position: -2430px -1292px;
}

.bg-fighter {
    background-position: -2430px -1368px;
}

.bg-apv {
    background-position: -2430px -1444px;
}

.bg-bb {
    background-position: -2430px -1520px;
}

.bg-bongo {
    background-position: -2430px -1596px;
}

.bg-c8 {
    background-position: -2430px -1672px;
}

.bg-sentra {
    background-position: -2430px -1748px;
}

.bg-vista {
    background-position: -2430px -1824px;
}

.bg-relay {
    background-position: -2430px -1900px;
}

.bg-kei {
    background-position: -2430px -1976px;
}

.bg-shuttle {
    background-position: -2430px -2052px;
}

.bg-626 {
    background-position: -2430px -2128px;
}

.bg-grandis {
    background-position: -2430px -2204px;
}

.bg-z {
    background-position: -2430px -2280px;
}

.bg-407 {
    background-position: -0 -2356px;
}

.bg-leopard {
    background-position: -135px -2356px;
}

.bg-arteon {
    background-position: -270px -2356px;
}

.bg-v70 {
    background-position: -405px -2356px;
}

.bg-4008 {
    background-position: -540px -2356px;
}

.bg-carol {
    background-position: -675px -2356px;
}

.bg-talisman {
    background-position: -810px -2356px;
}

.bg-acty {
    background-position: -945px -2356px;
}

.bg-twingo {
    background-position: -1080px -2356px;
}

.bg-capa {
    background-position: -1215px -2356px;
}

.bg-ford-puma {
    background-position: -1350px -2356px;
}

.bg-sonata {
    background-position: -1485px -2356px;
}

.bg-Untitled-1 {
    background-position: -1620px -2356px;
}

.bg-gls {
    background-position: -1755px -2356px;
}

.bg-ateca {
    background-position: -1890px -2356px;
}

.bg-e-mehari {
    background-position: -2025px -2356px;
}

.bg-it {
    background-position: -2160px -2356px;
}

.bg-v40 {
    background-position: -2295px -2356px;
}

.bg-stout {
    background-position: -2430px -2356px;
}

.bg-previa {
    background-position: -0 -2432px;
}

.bg-mirage {
    background-position: -135px -2432px;
}

.bg-i-series {
    background-position: -270px -2432px;
}

.bg-aslan {
    background-position: -405px -2432px;
}

.bg-platina {
    background-position: -540px -2432px;
}

.bg-hoggar {
    background-position: -675px -2432px;
}

.bg-toppo {
    background-position: -810px -2432px;
}

.bg-roox {
    background-position: -945px -2432px;
}

.bg-clk {
    background-position: -1080px -2432px;
}

.bg-harrier {
    background-position: -1215px -2432px;
}

.bg-lt {
    background-position: -1350px -2432px;
}

.bg-sls-amg {
    background-position: -1485px -2432px;
}

.bg-uno {
    background-position: -1620px -2432px;
}

.bg-vivaro {
    background-position: -1755px -2432px;
}

.bg-tiida {
    background-position: -1890px -2432px;
}

.bg-c-zero {
    background-position: -2025px -2432px;
}

.bg-traviq {
    background-position: -2160px -2432px;
}

.bg-amaze {
    background-position: -2295px -2432px;
}

.bg-mobi {
    background-position: -2430px -2432px;
}

.bg-1007 {
    background-position: -2565px -0;
}

.bg-baleno {
    background-position: -2565px -76px;
}

.bg-dzire {
    background-position: -2565px -152px;
}

.bg-justy {
    background-position: -2565px -228px;
}

.bg-alphard {
    background-position: -2565px -304px;
}

.bg-yaris {
    background-position: -2565px -380px;
}

.bg-celerio {
    background-position: -2565px -456px;
}

.bg-alto {
    background-position: -2565px -532px;
}

.bg-n-one {
    background-position: -2565px -608px;
}

.bg-partner-2 {
    background-position: -2565px -684px;
}

.bg-ertiga {
    background-position: -2565px -760px;
}

.bg-murano {
    background-position: -2565px -836px;
}

.bg-qashqai {
    background-position: -2565px -912px;
}

.bg-solio {
    background-position: -2565px -988px;
}

.bg-new-beetle {
    background-position: -2565px -1064px;
}

.bg-karimun {
    background-position: -2565px -1140px;
}

.bg-gle {
    background-position: -2565px -1216px;
}

.bg-livina {
    background-position: -2565px -1292px;
}

.bg-master {
    background-position: -2565px -1368px;
}

.bg-porte {
    background-position: -2565px -1444px;
}

.bg-vario {
    background-position: -2565px -1520px;
}

.bg-gol {
    background-position: -2565px -1596px;
}

.bg-s-max {
    background-position: -2565px -1672px;
}

.bg-sunny {
    background-position: -2565px -1748px;
}

.bg-probox {
    background-position: -2565px -1824px;
}

.bg-range-rover {
    background-position: -2565px -1900px;
}

.bg-talento {
    background-position: -2565px -1976px;
}

.bg-xcent {
    background-position: -2565px -2052px;
}

.bg-nv200 {
    background-position: -2565px -2128px;
}

.bg-k2500 {
    background-position: -2565px -2204px;
}

.bg-rx-8 {
    background-position: -2565px -2280px;
}

.bg-asx {
    background-position: -2565px -2356px;
}

.bg-titan {
    background-position: -2565px -2432px;
}

.bg-glc-class {
    background-position: -0 -2508px;
}

.bg-jade {
    background-position: -135px -2508px;
}

.bg-liana {
    background-position: -270px -2508px;
}

.bg-sc429 {
    background-position: -405px -2508px;
}

.bg-microbus {
    background-position: -540px -2508px;
}

.bg-stagea {
    background-position: -675px -2508px;
}

.bg-pointer {
    background-position: -810px -2508px;
}

.bg-mii {
    background-position: -945px -2508px;
}

.bg-forester {
    background-position: -1080px -2508px;
}

.bg-cooper {
    background-position: -1215px -2508px;
}

.bg-doblo {
    background-position: -1350px -2508px;
}

.bg-galloper {
    background-position: -1485px -2508px;
}

.bg-range-rover-evoque {
    background-position: -1620px -2508px;
}

.bg-aprio {
    background-position: -1755px -2508px;
}

.bg-c-crosser {
    background-position: -1890px -2508px;
}

.bg-q7 {
    background-position: -2025px -2508px;
}

.bg-transit-courier {
    background-position: -2160px -2508px;
}

.bg-levorg {
    background-position: -2295px -2508px;
}

.bg-206 {
    background-position: -2430px -2508px;
}

.bg-306 {
    background-position: -2565px -2508px;
}

.bg-4007 {
    background-position: -0 -2584px;
}

.bg-380 {
    background-position: -135px -2584px;
}

.bg-avancier {
    background-position: -270px -2584px;
}

.bg-exeo {
    background-position: -405px -2584px;
}

.bg-504 {
    background-position: -540px -2584px;
}

.bg-bipper {
    background-position: -675px -2584px;
}

.bg-verada {
    background-position: -810px -2584px;
}

.bg-note {
    background-position: -945px -2584px;
}

.bg-scudo {
    background-position: -1080px -2584px;
}

.bg-xg {
    background-position: -1215px -2584px;
}

.bg-ichi {
    background-position: -1350px -2584px;
}

.bg-ist {
    background-position: -1485px -2584px;
}

.bg-swift {
    background-position: -1620px -2584px;
}

.bg-avenir {
    background-position: -1755px -2584px;
}

.bg-eclipse {
    background-position: -1890px -2584px;
}

.bg-wagon-r {
    background-position: -2025px -2584px;
}

.bg-vamos {
    background-position: -2160px -2584px;
}

.bg-crafter {
    background-position: -2295px -2584px;
}

.bg-minica {
    background-position: -2430px -2584px;
}

.bg-twin {
    background-position: -2565px -2584px;
}

.bg-cima {
    background-position: -2700px -0;
}

.bg-xk {
    background-position: -2700px -76px;
}

.bg-ciaz {
    background-position: -2700px -152px;
}

.bg-sedona {
    background-position: -2700px -228px;
}

.bg-hilux {
    background-position: -2700px -304px;
}

.bg-vectra {
    background-position: -2700px -380px;
}

.bg-spacia {
    background-position: -2700px -456px;
}

.bg-c-hr {
    background-position: -2700px -532px;
}

.bg-gt86 {
    background-position: -2700px -608px;
}

.bg-garnada {
    background-position: -2700px -684px;
}

.bg-first {
    background-position: -2700px -760px;
}

.bg-cresta {
    background-position: -2700px -836px;
}

.bg-ls429 {
    background-position: -2700px -912px;
}

.bg-lagreat {
    background-position: -2700px -988px;
}

.bg-607 {
    background-position: -2700px -1064px;
}

.bg-146 {
    background-position: -2700px -1140px;
}

.bg-508 {
    background-position: -2700px -1216px;
}

.bg-otti {
    background-position: -2700px -1292px;
}

.bg-trezia {
    background-position: -2700px -1368px;
}

.bg-zafira {
    background-position: -2700px -1444px;
}

.bg-iq {
    background-position: -2700px -1520px;
}

.bg-rio {
    background-position: -2700px -1596px;
}

.bg-mirai {
    background-position: -2700px -1672px;
}

.bg-toyota-sprinter {
    background-position: -2700px -1748px;
}

.bg-308 {
    background-position: -2700px -1824px;
}

.bg-pleo {
    background-position: -2700px -1900px;
}

.bg-xl1 {
    background-position: -2700px -1976px;
}

.bg-kix {
    background-position: -2700px -2052px;
}

.bg-ampera {
    background-position: -2700px -2128px;
}

.bg-leon {
    background-position: -2700px -2204px;
}

.bg-passport {
    background-position: -2700px -2280px;
}

.bg-idea {
    background-position: -2700px -2356px;
}

.bg-kombi {
    background-position: -2700px -2432px;
}

.bg-domani {
    background-position: -2700px -2508px;
}

.bg-solaris {
    background-position: -2700px -2584px;
}

.bg-s-class {
    background-position: -0 -2660px;
}

.bg-clarity {
    background-position: -135px -2660px;
}

.bg-genesis {
    background-position: -270px -2660px;
}

.bg-proudia-dignity {
    background-position: -405px -2660px;
}

.bg-slk {
    background-position: -540px -2660px;
}

.bg-kona {
    background-position: -675px -2660px;
}

.bg-f4000 {
    background-position: -810px -2660px;
}

.bg-optima {
    background-position: -945px -2660px;
}

.bg-s2000 {
    background-position: -1080px -2660px;
}

.bg-corona {
    background-position: -1215px -2660px;
}

.bg-kaefer {
    background-position: -1350px -2660px;
}

.bg-touareg {
    background-position: -1485px -2660px;
}

.bg-x-trail {
    background-position: -1620px -2660px;
}

.bg-lapin {
    background-position: -1755px -2660px;
}

.bg-giulietta {
    background-position: -1890px -2660px;
}

.bg-life {
    background-position: -2025px -2660px;
}

.bg-ceed {
    background-position: -2160px -2660px;
}

.bg-land-cruiser-90 {
    background-position: -2295px -2660px;
}

.bg-territory {
    background-position: -2430px -2660px;
}

.bg-picnic {
    background-position: -2565px -2660px;
}

.bg-dion {
    background-position: -2700px -2660px;
}

.bg-berlingo {
    background-position: -0 -2736px;
}

.bg-equus {
    background-position: -135px -2736px;
}

.bg-corsa {
    background-position: -270px -2736px;
}

.bg-paceman {
    background-position: -405px -2736px;
}

.bg-bantam {
    background-position: -540px -2736px;
}

.bg-laputa {
    background-position: -675px -2736px;
}

.bg-quoris {
    background-position: -810px -2736px;
}

.bg-tundra {
    background-position: -945px -2736px;
}

.bg-205 {
    background-position: -1080px -2736px;
}

.bg-mb100 {
    background-position: -1215px -2736px;
}

.bg-nv400 {
    background-position: -1350px -2736px;
}

.bg-astra {
    background-position: -1485px -2736px;
}

.bg-a3 {
    background-position: -1620px -2736px;
}

.bg-scudo-box {
    background-position: -1755px -2736px;
}

.bg-bmw-x6 {
    background-position: -1890px -2736px;
}

.bg-transporter {
    background-position: -2025px -2736px;
}

.bg-1400 {
    background-position: -2160px -2736px;
}

.bg-l {
    background-position: -2295px -2736px;
}

.bg-q5 {
    background-position: -2430px -2736px;
}

.bg-3-series {
    background-position: -2565px -2736px;
}

.bg-cavalier {
    background-position: -2700px -2736px;
}

.bg-etios {
    background-position: -2835px -0;
}

.bg-impreza {
    background-position: -2835px -76px;
}

.bg-entourage {
    background-position: -2835px -152px;
}

.bg-freelander {
    background-position: -2835px -228px;
}

.bg-fullback {
    background-position: -2835px -304px;
}

.bg-panda {
    background-position: -2835px -380px;
}

.bg-primastar {
    background-position: -2835px -456px;
}

.bg-fortuner {
    background-position: -2835px -532px;
}

.bg-navara {
    background-position: -2835px -608px;
}

.bg-sapce-runner {
    background-position: -2835px -684px;
}

.bg-tourneo {
    background-position: -2835px -760px;
}

.bg-brz {
    background-position: -2835px -836px;
}

.bg-celica {
    background-position: -2835px -912px;
}

.bg-l200 {
    background-position: -2835px -988px;
}

.bg-terrano {
    background-position: -2835px -1064px;
}

.bg-grandeur {
    background-position: -2835px -1140px;
}

.bg-delica {
    background-position: -2835px -1216px;
}

.bg-city {
    background-position: -2835px -1292px;
}

.bg-space-star {
    background-position: -2835px -1368px;
}

.bg-trafic {
    background-position: -2835px -1444px;
}

.bg-hb20s {
    background-position: -2835px -1520px;
}

.bg-ad {
    background-position: -2835px -1596px;
}

.bg-urvan {
    background-position: -2835px -1672px;
}

.bg-lancer {
    background-position: -2835px -1748px;
}

.bg-airwave {
    background-position: -2835px -1824px;
}

.bg-c-elysee {
    background-position: -2835px -1900px;
}

.bg-mokka {
    background-position: -2835px -1976px;
}

.bg-mpv {
    background-position: -2835px -2052px;
}

.bg-gt-r {
    background-position: -2835px -2128px;
}

.bg-grand {
    background-position: -2835px -2204px;
}

.bg-fj-cruiser {
    background-position: -2835px -2280px;
}

.bg-a8 {
    background-position: -2835px -2356px;
}

.bg-rav4 {
    background-position: -2835px -2432px;
}

.bg-land-cruiser {
    background-position: -2835px -2508px;
}

.bg-origin {
    background-position: -2835px -2584px;
}

.bg-mito {
    background-position: -2835px -2660px;
}

.bg-500 {
    background-position: -2835px -2736px;
}

.bg-az-wagon {
    background-position: -0 -2812px;
}

.bg-quick-delivery {
    background-position: -135px -2812px;
}

.bg-prius {
    background-position: -270px -2812px;
}

.bg-fr-v {
    background-position: -405px -2812px;
}

.bg-cla {
    background-position: -540px -2812px;
}

.bg-cls {
    background-position: -675px -2812px;
}

.bg-xterra {
    background-position: -810px -2812px;
}

.bg-giulia {
    background-position: -945px -2812px;
}

.bg-rustler {
    background-position: -1080px -2812px;
}

.bg-e-serie {
    background-position: -1215px -2812px;
}

.bg-sportage {
    background-position: -1350px -2812px;
}

.bg-qubo {
    background-position: -1485px -2812px;
}

.bg-gtv {
    background-position: -1620px -2812px;
}

.bg-passo {
    background-position: -1755px -2812px;
}

.bg-avanza {
    background-position: -1890px -2812px;
}

.bg-highway {
    background-position: -2025px -2812px;
}

.bg-ikon {
    background-position: -2160px -2812px;
}

.bg-z8 {
    background-position: -2295px -2812px;
}

.bg-ix20 {
    background-position: -2430px -2812px;
}

.bg-adam {
    background-position: -2565px -2812px;
}

.bg-besta {
    background-position: -2700px -2812px;
}

.bg-r8 {
    background-position: -2835px -2812px;
}

.bg-mr-wagon {
    background-position: -0 -2888px;
}

.bg-sani {
    background-position: -135px -2888px;
}

.bg-courier {
    background-position: -270px -2888px;
}

.bg-expert {
    background-position: -405px -2888px;
}

.bg-isis {
    background-position: -540px -2888px;
}

.bg-124-spider {
    background-position: -675px -2888px;
}

.bg-a7 {
    background-position: -810px -2888px;
}

.bg-load-up {
    background-position: -945px -2888px;
}

.bg-cedric {
    background-position: -1080px -2888px;
}

.bg-porter {
    background-position: -1215px -2888px;
}

.bg-cube {
    background-position: -1350px -2888px;
}

.bg-r1 {
    background-position: -1485px -2888px;
}

.bg-diamante {
    background-position: -1620px -2888px;
}

.bg-12 {
    background-position: -1755px -2888px;
}

.bg-shogun {
    background-position: -1890px -2888px;
}

.bg-240sx {
    background-position: -2025px -2888px;
}

.bg-alphard-mx {
    background-position: -2160px -2888px;
}

.bg-pixis {
    background-position: -2295px -2888px;
}

.bg-carina {
    background-position: -2430px -2888px;
}

.bg-323 {
    background-position: -2565px -2888px;
}

.bg-scenic-iii {
    background-position: -2700px -2888px;
}

.bg-sl {
    background-position: -2835px -2888px;
}

.bg-grand-vitara {
    background-position: -2970px -0;
}

.bg-legend {
    background-position: -2970px -76px;
}

.bg-odyssey {
    background-position: -2970px -152px;
}

.bg-c6 {
    background-position: -2970px -228px;
}

.bg-samurai {
    background-position: -2970px -304px;
}

.bg-allion {
    background-position: -2970px -380px;
}

.bg-h100 {
    background-position: -2970px -456px;
}

.bg-mx5 {
    background-position: -2970px -532px;
}

.bg-raum {
    background-position: -2970px -608px;
}

.bg-laguna {
    background-position: -2970px -684px;
}

.bg-m-class {
    background-position: -2970px -760px;
}

.bg-outlander {
    background-position: -2970px -836px;
}

.bg-jazz {
    background-position: -2970px -912px;
}

.bg-santa-fe {
    background-position: -2970px -988px;
}

.bg-nt400 {
    background-position: -2970px -1064px;
}

.bg-rapid {
    background-position: -2970px -1140px;
}

.bg-creta {
    background-position: -2970px -1216px;
}

.bg-arona {
    background-position: -2970px -1292px;
}

.bg-aristo {
    background-position: -2970px -1368px;
}

.bg-pino {
    background-position: -2970px -1444px;
}

.bg-orthia {
    background-position: -2970px -1520px;
}

.bg-sprinter {
    background-position: -2970px -1596px;
}

.bg-147 {
    background-position: -2970px -1672px;
}

.bg-range-rover-velar {
    background-position: -2970px -1748px;
}

.bg-transit-connect- {
    background-position: -2970px -1824px;
}

.bg-siena {
    background-position: -2970px -1900px;
}

.bg-sambar {
    background-position: -2970px -1976px;
}

.bg-zest {
    background-position: -2970px -2052px;
}

.bg-vx-1 {
    background-position: -2970px -2128px;
}

.bg-tank {
    background-position: -2970px -2204px;
}

.bg-xpander {
    background-position: -2970px -2280px;
}

.bg-transit {
    background-position: -2970px -2356px;
}

.bg-ray {
    background-position: -2970px -2432px;
}

.bg-duster {
    background-position: -2970px -2508px;
}

.bg-hr-v {
    background-position: -2970px -2584px;
}

.bg-parati {
    background-position: -2970px -2660px;
}

.bg-kadjar {
    background-position: -2970px -2736px;
}

.bg-galaxy {
    background-position: -2970px -2812px;
}

.bg-sx4 {
    background-position: -2970px -2888px;
}

.bg-lupo {
    background-position: -0 -2964px;
}

.bg-ibiza {
    background-position: -135px -2964px;
}

.bg-karoq {
    background-position: -270px -2964px;
}

.bg-almera {
    background-position: -405px -2964px;
}

.bg-citan {
    background-position: -540px -2964px;
}

.bg-metrostar {
    background-position: -675px -2964px;
}

.bg-wingroad {
    background-position: -810px -2964px;
}

.bg-bassara {
    background-position: -945px -2964px;
}

.bg-t-roc {
    background-position: -1080px -2964px;
}

.bg-taigo {
    background-position: -1215px -2964px;
}

.bg-caravelle {
    background-position: -1350px -2964px;
}

.bg-california {
    background-position: -1485px -2964px;
}

.bg-s90 {
    background-position: -1620px -2964px;
}

.bg-xc40 {
    background-position: -1755px -2964px;
}

.bg-v90 {
    background-position: -1890px -2964px;
}

.bg-t-cross {
    background-position: -2025px -2964px;
}

.bg-kamiq {
    background-position: -2160px -2964px;
}

.bg-tarraco {
    background-position: -2295px -2964px;
}

.bg-arkana {
    background-position: -2430px -2964px;
}

.bg-panamera {
    background-position: -2565px -2964px;
}

.bg-cayman {
    background-position: -2700px -2964px;
}

.bg-macan {
    background-position: -2835px -2964px;
}

.bg-s3 {
    background-position: -2970px -2964px;
}

.bg-s4 {
    background-position: -3105px -0;
}

.bg-s5 {
    background-position: -3105px -76px;
}

.bg-sq2 {
    background-position: -3105px -152px;
}

.bg-sq5 {
    background-position: -3105px -228px;
}

.bg-sq7 {
    background-position: -3105px -304px;
}

.bg-sq8 {
    background-position: -3105px -380px;
}

.bg-tts {
    background-position: -3105px -456px;
}

.bg-8-series {
    background-position: -3105px -532px;
}

.bg-cx-30 {
    background-position: -3105px -608px;
}

.bg-ux {
    background-position: -3105px -684px;
}

.bg-rx {
    background-position: -3105px -760px;
}

.bg-rc {
    background-position: -3105px -836px;
}

.bg-nx {
    background-position: -3105px -912px;
}

.bg-lc {
    background-position: -3105px -988px;
}

.bg-gs {
    background-position: -3105px -1064px;
}

.bg-xceed {
    background-position: -3105px -1140px;
}

.bg-x7 {
    background-position: -3105px -1216px;
}

.bg-stonic {
    background-position: -3105px -1292px;
}

.bg-mustang {
    background-position: -3105px -1368px;
}

.bg-bayon {
    background-position: -3105px -1444px;
}

.bg-d-max {
    background-position: -3105px -1520px;
}

.bg-s1 {
    background-position: -3105px -1596px;
}

.bg-rsq8 {
    background-position: -3105px -1672px;
}

.bg-rsq3 {
    background-position: -3105px -1748px;
}

.bg-rs6 {
    background-position: -3105px -1824px;
}

.bg-rs5 {
    background-position: -3105px -1900px;
}

.bg-rs4 {
    background-position: -3105px -1976px;
}

.bg-rs3-2 {
    background-position: -3105px -2052px;
}

.bg-rs3 {
    background-position: -3105px -2128px;
}

.bg-q4 {
    background-position: -3105px -2204px;
}

.bg-a2 {
    background-position: -3105px -2280px;
}

.bg-q8 {
    background-position: -3105px -2356px;
}

.bg-mx-30 {
    background-position: -3105px -2432px;
}

.bg-glb-class {
    background-position: -3105px -2508px;
}

.bg-x-class {
    background-position: -3105px -2584px;
}

.bg-911 {
    background-position: -3105px -2660px;
}

.bg-918 {
    background-position: -3105px -2736px;
}

.bg-boxster {
    background-position: -3105px -2812px;
}

.bg-carrera-gt {
    background-position: -3105px -2888px;
}

.bg-cayenne {
    background-position: -3105px -2964px;
}

